h1, h2, h3 {
  text-align: center; }

h1, h2, h3 {
  color: #343434; }

.introduction p, .contact p {
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  color: #9a9a9a;
  text-align: center;
  line-height: 150%; }

@media (min-width: 1024px) {
  .main-header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end; } }
@media (min-width: 1024px) {
  .main-header h1 {
    margin-right: auto;
    margin-left: 1em; } }

/* NAVIGATION STYLES */
.main-nav {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .main-nav a {
    display: block;
    width: 90%;
    text-align: center;
    background-color: #fff;
    margin: 0.15em;
    padding: 0.5em;
    text-decoration: none;
    color: #343434;
    font-weight: bold;
    align-self: center; }
    .main-nav a:hover {
      color: #69945a; }
    @media (min-width: 768px) {
      .main-nav a {
        background-color: #e3f4fa;
        width: 15%; } }
    @media (min-width: 1024px) {
      .main-nav a {
        margin-left: 1em;
        flex: 1;
        width: auto;
        display: inline; } }
  @media (min-width: 768px) {
    .main-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; } }
  @media (min-width: 1024px) {
    .main-nav {
      margin-right: 1em; } }

/* FOOTER STYLES */
.footer-link {
  display: none; }
  @media (min-width: 768px) {
    .footer-link {
      display: inline-block;
      margin: 1em;
      text-decoration: none;
      color: gray;
      font-weight: bold; }
      .footer-link:hover {
        color: #69945a; } }

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 1em;
  margin: 0 1em;
  border-top: 1px solid lightgray; }
  .footer-nav h3 {
    margin-right: auto; }

.link-top {
  text-decoration: none;
  font-weight: bold;
  color: black; }
  .link-top:hover {
    color: #69945a; }
  @media (min-width: 768px) {
    .link-top {
      display: none; } }

/* GENERAL STYLES */
.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2%;
  max-width: 1200px;
  margin: auto;
  background-color: #e3f4fa;
  font-family: "Open Sans", sans-serif; }

/* INTRODUCTION STYLES */
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .introduction p {
      align-self: flex-start;
      text-align: left;
      margin-top: 2em; } }
  @media (min-width: 768px) {
    .introduction {
      display: flex;
      flex-direction: row-reverse;
      align-items: stretch; } }

.intro-image {
  margin: 3em 1em 1em 1em; }
  @media (min-width: 768px) {
    .intro-image {
      margin: 2em;
      width: 40%; } }
  @media (min-width: 1024px) {
    .intro-image {
      width: 70%; } }

/* PORTFOLIO STYLES */
.portfolio-container {
  background-color: #fff;
  padding-top: 2em; }

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0.5em;
  padding: 1em; }
  @media (min-width: 768px) {
    .portfolio {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex-wrap: wrap; } }

#portfolio-two {
  margin-top: 2em; }

.portfolio-item {
  text-align: center;
  line-height: 150%;
  margin: 0.5em; }
  .portfolio-item p {
    padding: 0.5em 1em; }
  .portfolio-item img {
    width: 100%; }
  @media (min-width: 768px) {
    .portfolio-item {
      width: 40%;
      flex-grow: 1; } }
  @media (min-width: 1024px) {
    .portfolio-item {
      width: 30%; } }

/* CONTACT STYLES */
.contact {
  padding: 2em 0.1em; }

#phone,
#email {
  color: gray;
  font-weight: bold;
  margin-left: 1em; }

@media (min-width: 1px) and (max-width: 768px -1) {
  .is-collapsed-mobile {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0; } }

@media (min-width: 1px) and (max-width: 768px -1) {
  .is-displayed-mobile {
    dipslay: block; }
    .is-hidden-mobile {
      display: none; } }
@media (min-width: 768px) {
  .is-displayed-mobile {
    display: none; } }

/*# sourceMappingURL=application.css.map */
