%centered {
	text-align: center;
}

%margin-standard {
	margin: $tb-spacing $lr-spacing;
}

%padding-standard {
	padding: $tb-spacing $lr-spacing;
}

%paragraph {
	@extend %margin-standard;
	@extend %padding-standard;
	@extend %centered;
	color: $text-color-light;
	font-size: $font-size-default;
	line-height: $tall-line;
}

%headline {
	@extend %centered;
	color: $text-color-dark;
}

%top-border {
	border-top: 1px solid $text-color-light;
}	
