$light-blue: #e3f4fa;
$gray: gray;
$light-gray: lighten($gray, 10%);
$dark-gray: darken($gray, 30%);
$green: #69945a;
$white: #fff;

$background: $light-blue;
$background-light: $white;
$text-color: $gray;
$text-color-light: $light-gray;
$text-color-dark: $dark-gray;
$text-color-hover: $green;

$font-family: 'Open Sans', sans-serif;
$font-size-default: 1em;
$font-size-h1: 2em;
$font-size-h2: 1.5em;
$font-size-h3: 1.2em;

$tall-line: 150%;
$text-emphasis: 700;

$tb-spacing: 0.5em;
$lr-spacing: 1em;

