$light-blue: #e3f4fa;
$gray: gray;
$light-gray: lighten($gray, 10%);
$dark-gray: darken($gray, 30%);
$green: #69945a;
$white: #fff;

$background: $light-blue;
$background-light: $white;
$text-color: $gray;
$text-color-light: $light-gray;
$text-color-dark: $dark-gray;
$text-color-hover: $green;

$font-family: 'Open Sans', sans-serif;
$font-size-default: 1em;
$tall-line: 150%;
$bold: 700;
