/* FOOTER STYLES */

.footer-link {
	display: none;

	@include mq(medium) {
		display: inline-block;
		margin: 1em;
		text-decoration: none;
		color: $text-color;
		font-weight: bold;
		&:hover {
			color: $text-color-hover;
		}
	}
}

.footer-nav {
	@include flexy(row, center);
	justify-content: flex-end;
	padding: 1em;
	margin: 0 1em;
	border-top: 1px solid lightgray;

	h3 {
		margin-right: auto;
	}
}

.link-top {
	text-decoration: none;
	font-weight: bold;
	color: black;

	&:hover {
		color: $text-color-hover;
	}

	@include mq(medium) {
		display: none;
	}
}

