/* FOOTER STYLES */

.footer-link {
	display: none;
}

.footer-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 1em;
	margin: 0 1em;
	border-top: 1px solid lightgray;
}

.footer-nav h3 {
	margin-right: auto;
}

.link-top {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.link-top:hover {
	color: $text-color-hover;
}