/* FOOTER STYLES */

.footer-link {
	display: none;
}

.footer-nav {
	@include flexy(row, center);
	justify-content: flex-end;
	padding: 1em;
	margin: 0 1em;
	border-top: 1px solid lightgray;

	h3 {
		margin-right: auto;
	}
}

.link-top {
	text-decoration: none;
	font-weight: bold;
	color: black;

	&:hover {
		color: $text-color-hover;
}
}

