@import '_extends.scss';
@import '_header.scss';
@import '_navigation.scss';
@import '_footer.scss';


/* GENERAL STYLES */

.container {
	@include flexy(column, stretch);
	padding: 2%;
	max-width: 1200px;
	margin: auto;
	background-color: $background;
	font-family: $font-family;
}


