/* PORTFOLIO STYLES */

.portfolio-container {
	background-color: #fff;
	padding-top: 2em;
}

.portfolio {
	@include flexy(column, stretch);
	margin: 0.5em;
	padding: 1em;
}

#portfolio-two {
	margin-top: 2em;
}

.portfolio-item {
	text-align: center;
	line-height: 150%;
	margin: 0.5em;

	p {
		padding: 0.5em 1em;
	}

	img {
		width: 100%;
	}

}



