// INTRODUCTION STYLES

.introduction {
	@include flexy(column, center);

	p {
		@extend %paragraph;
		@include mq(medium) {
			align-self: flex-start;
			text-align: left;
			margin-top: 2em;
			width: 70%;
		}
		@include mq(large) {
			width: 60%;
		}

	}

	@include mq(medium) {
		@include flexy(row-reverse);
	}

}

.intro-image {
	margin: 3em 1em 1em 1em;

	@include mq(medium) {
		margin: 2em;
		width: 30%;
	}

	@include mq(large) {
		width: 40%;
	}
}
