/* PORTFOLIO STYLES */

.portfolio-container {
	background-color: $background-light;
	padding-top: 2em;
}

.portfolio {
	@include flexy(column, stretch);
	margin: 0.5em;
	padding: 1em;

	@include mq(medium) {
		@include flexy(row, stretch);
		flex-wrap: wrap;
	}
}

#portfolio-two {
	margin-top: 2em;
}

.portfolio-item {
	text-align: center;
	line-height: 150%;
	margin: 0.5em;

	p {
		padding: 0.5em 1em;
	}

	img {
		width: 100%;
	}

	@include mq(medium)  {
		width: 40%;
		flex-grow: 1;
	}
}



