/* PORTFOLIO STYLES */

.portfolio-container {
	background-color: $background-light;
	padding-top: 2em;
}

.portfolio {
	@include flexy(column);
	margin: 0.5em;
	padding: 1em;

	@include mq(medium) {
		@include flexy(row);
		flex-wrap: wrap;
	}
}

#portfolio-two {
	margin-top: 2em;
}

.portfolio-item {
	text-align: center;
	line-height: $tall-line;
	margin: 0.5em;

	p {
		@extend %padding-standard;
	}

	img {
		width: 100%;
	}

	@include mq(medium)  {
		width: 40%;
		flex-grow: 1;
	}

	@include mq(large) {
		width: 30%;
	}
}



